
<div
  class="card"
  style="box-shadow: 0px 0px 14px; aspect-ratio: 74 / 105; max-height: 90vh"
>
  <div class="card-body">
    <h1 class="text-center card-title"><%= task.name %></h1>
    <hr />
    <h2 class="text-center card-subtitle"><%= task.category %></h2>
    <hr />
    <p class="card-text"><%= task.description %></p>
    <hr />
    <div id="card-data"></div>
  </div>
</div>
